BasedOnStyle: LLVM
IndentWidth: 4
NamespaceIndentation: None

# 不设置行宽限制，尽量尊重已有换行
ColumnLimit: 0

# 函数声明、定义的参数不挤在同一行
BinPackParameters: false
# 函数调用的实参不挤在同一行
BinPackArguments: false

# 不把全部参数打包到紧接着的下一行
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false  # 不根据现有代码风格自动推断，始终使用上述设置。


# 没有 else 的简短 if 语句允许放在同一行
AllowShortIfStatementsOnASingleLine: WithoutElse